[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = http://github.com/capitaomorte/yasnippet.git
[submodule "site-lisp/expand-region"]
	path = site-lisp/expand-region
	url = http://github.com/magnars/expand-region.el.git
[submodule "site-lisp/mark-multiple"]
	path = site-lisp/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
